body {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.flag-dropdown {
  display: none;
}

.special-label {
  display: none;
}

.ant-picker-filled {
  width: 100%;
}

.taskField {
  padding: 8px;
  margin-top: 0;
  border-radius: 6px;
}

.taskField:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}
