body {
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.react-tel-input .flag-dropdown {
  display: none;
}

.react-tel-input .form-control {
  padding-left: 4px;
  /*border: none;*/
}
