body {
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.flag-dropdown {
  display: none;
}

.special-label {
  display: none;
}

.ant-picker-range {
  width: 100%;
}
